<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet"
          th:href="@{/css/style.css}">
    <link rel="stylesheet"
          th:href="@{/css/daterangepicker.css}">
    <title>Orders List</title>
</head>
<body>
<header>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <span class="navbar-brand text-uppercase mr-auto">Statistics</span>
    </nav>
</header>
<section id="statistics">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">

                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-3 text-center">Orders count</th>
                            <th class="col-3 text-center">Orders amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="d-flex">

                            <td class="col-3 text-center"
                                th:text="${stats.count}"></td>
                            <td class="col-3 text-center"
                                th:text="${stats.cost}"></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>